.transcript-search-options,
.transcript-navigate-results {
    display: none;
}

.has-searched .transcript-search-options,
.has-searched .transcript-navigate-results {
    display: block;
}

.tcu-info {
    float: left;
    width: 200px;
}

.play-button {
    float: left;
    margin-right: -100px;
}

.same-speaker {
    display: none;
}

.speaker-name {
    float: right;
    width: 100px;
}

.speaker-tiers {
    margin-left: 200px;
}

.scroller .tier {
    display: none;
}

.scroller .tier.active {
    display: block;
}

.scroller .playing {
    background-color: #6cf;
}

.scroller ul {
    list-style: none;
}
